<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2 class="">Please fix the following:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="login-page-demo">
      <div class="awe-overlay"></div>
      <div class="container">
          <div class="login-register-page__content">
              <div class="content-title">
                  <span>Please Register</span>
                  <h2>Task App</h2>
              </div>
              <form>
                  <div class="form-item">
                    <%= label_tag :email %><br/>
                    <%= text_field_tag :email, params[:email] %>
                  </div>
                  <div class="form-item">
                    <%= label_tag :password %><br/>
                    <%= password_field_tag :password %>
                  </div>
                  <div class="form-item">
                    <%= label_tag  :password_confirmation %><br/>
                    <%= password_field_tag :password_confirmation %>
                  </div>
                  <div class="form-actions">
                    <div class="login-page actions"><%= f.submit %></div>
                  </div>
              </form>
          </div>
      </div>
  </section>
<% end %>