<!DOCTYPE html>
<html class="task-app">
  <head>
    <title>Task App - Villa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <!-- HEADER PAGE -->
  <header id="header-page">
      <div class="header-page__inner">
          <div class="container">
              <!-- LOGO -->
              <div class="logo">
                  <a href="/inprogress"><%= image_tag "logo.png" %></a>
              </div>
              <!-- END / LOGO -->

              <!-- SEARCH BOX -->
              <div class="search-box">
                  <span class="searchtoggle"><i class="awe-icon awe-icon-search"></i></span>
                  <form class="form-search">
                      <div class="form-item">
                          <input type="text" value="Search &amp; hit enter">
                      </div>
                  </form>
              </div>
              <!-- END / SEARCH BOX -->
          </div>
      </div>
  </header>
  <!-- END / HEADER PAGE -->

  <div id="user_header">
    <% if current_user %>
      <div class="login-status">
        <div>Logged in as <%= current_user.email %></div>
        <div class="log-out"><%= link_to "Log Out", logout_path %></div>
      </div>

    <% else %>
      <div class="login-status">
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
      </div>
    <% end %>
  </div>

  <body>

    <div id="container" class="task-app">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>


  <div class="row fixed-navbar-group">
    <div class="col-xs-4 fixed-navbar-item redirectInProgress">
      <div class="navbar-container">
        <div class="in-progress-icon">
          <%= image_tag "in_progress2.png" %>
        </div>
        <div class="nav-label">In Progress</div>
      </div>
    </div>
    <div class="col-xs-4 fixed-navbar-item">
      <a href="/tasks/new">
        <div class="navbar-container">
          <div class="add-task-icon">
            <%= image_tag "add_task.png" %>
          </div>
          <div class="nav-label">Add</div>
        </div>
      </a>
    </div>
    <div class="col-xs-4 fixed-navbar-item redirectCompleted">
      <div class="navbar-container">
        <div class="completed-icon">
          <%= image_tag "completed.png" %>
        </div>
        <div class="nav-label">Completed</div>
      </div>
    </div>
  </div>

  <!-- FOOTER PAGE -->
  <footer id="footer-page">
      <div class="container">
          <div class="row">
              <!-- WIDGET -->
              <div class="col-md-3">
                  <div class="widget widget_contact_info">
                      <div class="widget_background">
                          <div class="widget_background__half">
                              <div class="bg"></div>
                          </div>
                          <div class="widget_background__half">
                              <div class="bg"></div>
                          </div>
                      </div>
                      <div class="logo">
                          <%= image_tag "logo-footer.png" %>
                      </div>
                      <div class="widget_content">
                          <p>350 Townsend St #422a, San Francisco, CA 94107</p>
                          <p>1 (844) 401-2253</p>
                          <a href="#">contact@forusall.com</a>
                      </div>
                  </div>
              </div>
              <!-- END / WIDGET -->

              <!-- WIDGET -->
              <div class="col-md-2">
                  <div class="widget widget_about_us">
                      <h3>About Us</h3>
                      <div class="widget_content">
                          <p>Finally, a 401(k) for everyone! ForUsAll provides a retirement plan for small businesses with less hassle and less cost than other plans.</p>
                      </div>
                  </div>
              </div>
              <!-- END / WIDGET -->

              <!-- WIDGET -->
              <div class="col-md-2">
                  <div class="widget widget_categories">
                      <h3>Categories</h3>
                      <ul>
                          <li><a href="#">Countries</a></li>
                          <li><a href="#">Regions</a></li>
                          <li><a href="#">Cities</a></li>
                          <li><a href="#">Districts</a></li>
                      </ul>
                  </div>
              </div>
              <!-- END / WIDGET -->

              <!-- WIDGET -->
              <div class="col-md-2">
                  <div class="widget widget_recent_entries">
                      <h3>Recent Blog</h3>
                      <ul>
                          <li><a href="#">Countries</a></li>
                          <li><a href="#">Regions</a></li>
                          <li><a href="#">Cities</a></li>
                          <li><a href="#">Districts</a></li>
                      </ul>
                  </div>
              </div>
              <!-- END / WIDGET -->

              <!-- WIDGET -->
              <div class="col-md-3">
                  <div class="widget widget_follow_us">
                      <div class="widget_content">
                          <p>For Special booking request, please call</p>
                          <span class="phone">888-321-5678</span>
                          <div class="awe-social">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-youtube-play"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- END / WIDGET -->
          </div>
          <div class="copyright">
              <p>©2016 ForUsAll™ All rights reserved.</p>
          </div>
      </div>
  </footer>
  <!-- END / FOOTER PAGE -->


</html>
